.registration {
  background-image: url("/assets/bannerImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  &_mobileMode {
    display: none;
  }
  &_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    &_logo {
      width: 45rem;
      filter: grayscale(1) opacity(0.6);
    }
    &_description {
      text-align: center;
      font-size: 1.3em;
      width: 42rem;
      color: #646464;
      filter: grayscale(1) opacity(0.9);
    }
  }
}
@media screen and (min-width: 2500px) {
  .registration {
    justify-content: center;
    gap: 20rem;
    &_section {
      width: 80rem;
      height: 25rem;
      &_logo {
        width: 65rem;
        filter: grayscale(1) opacity(0.6);
      }
      &_description {
        text-align: center;
        font-size: 2em;
        width: 65rem;
        color: #646464;
        filter: grayscale(1) opacity(0.9);
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .registration {
    background: #fafafa;
    padding: 0 1rem;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 3rem;
    &_section {
      display: none;
    }
    &_mobileMode {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: hidden;
      &_logo {
        width: 80%;
      }
    }
  }
}
