.formRegistration {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 30rem;
    width: 38rem;
    border-radius: 0.5rem;
    &_logo {
      width: 10rem;
    }
    &_title {
      color: #646464;
    }
    &_signup {
      color: #49a0d4;
      font-size: 0.9em;
      font-weight: 600;
      text-align: center;
    }
    &_group {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
    &_row {
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
    }
  }
  