.forum_article {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 10rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 20%);
  background-color: white;
  padding: 1rem;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  }
  &_content {
    &-top {
      display: grid;
      grid-template-columns: 4rem 1fr;
      grid-template-rows: 1fr;

      &_photo {
        width: 3rem;
        border-radius: 50%;
        grid-row: 1/3;
      }
      &_text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h1 {
          font-weight: 500;
        }
        p {
          font-weight: 400;
          font-size: 1em;
          color: #525252;
          min-height: 2rem;
          max-height: 4rem;
          overflow: hidden;
          -webkit-mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
          );
          -webkit-mask-repeat: no-repeat;
        }
      }
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      &-left {
        display: flex;
        gap: 3rem;
      }
      h3 {
        font-weight: 300;
        color: #969696;
      }
      h4 {
        font-size: 1em;
        font-weight: 300;
        color: #969696;

        line-height: normal;
      }
      &_label {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #387498;
        color: white;
        padding: 0.1rem;
        border-radius: 0.3rem;
        width: 6rem;
        height: 1.4rem;

        > h4 {
          font-weight: 400;
          color: white;
          font-size: 1em;

          line-height: normal;
        }
      }
      &_trash {
        display: flex;
        width: 3.1rem;
        height: 1.4rem;
        align-items: center;
        justify-content: space-evenly;
        background-color: #387498;
        border-radius: 0.3rem;
        padding: 0.1rem;

        :nth-child(1) {
          color: white;
          height: 1rem;
        }
      }
      &_comment {
        display: flex;
        width: 3.1rem;
        height: 1.4rem;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0.3rem;
        padding: 0.1rem;

        :nth-child(1) {
          color: black;
          height: 1rem;
        }
      }
    }
  }
}
